deadline.csproj.user
*.manifest
.vs
testing.v12.suo
*.pdb
bin/
obj/
Deadline.exe
Deadline.exe.config
Algorithms.dll
Deadline.vshost.exe
*.config
*.in
Output/big.out
*.out
zip_solution.zip
deadline.v12.suo
deadline.v12.suo
