deadline.csproj.user
*.manifest
.vs
testing.v12.suo
*.pdb
bin/
obj/
Deadline.exe
Deadline.exe.config
Algorithms.dll
Deadline.vshost.exe
*.config
*.in
Output/big.out
*.out
zip_solution.zip
deadline.v12.suo
*.bak
GUIs\.exe
*.exe
Output/Output\.zip

marathoner/

_Evaluations/tester\.jar

_init_checker\.bat

_start_checker\.bat

_Evaluations/cache/

created_solution\.cs

_Evaluations/log

_Evaluations/scores\.txt

_Evaluations/tags/

_Evaluations/multiple_tests\.log
